body {
  font-family: sans-serif;
  background-color: #222222;
  text-align: center;
  /* background-color: blue; */
  margin: 0;
  padding: 0;
  height: 100%;
 
}

.wrapper{
  top: 0;
  left: 0;
  width: 48vw;
  height: 100vh;
  background-color:#333333; /* Replace with your desired background color or image */
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  width: 400px;
  height: 430px;
  /* margin-top: auto; */
  padding: 40px;
  background-color: #141414;
  border-radius: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.login-container h1 {
  font-size: 20px;
  margin-bottom: 20px;
}

img.smartserv_logo {
  width: 270px;
  height: 150px;
  margin-bottom: 20px;
}

.form-group {
  max-width:300px;
  margin: auto;
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  color: grey;
  /* font-size: 525px; */
  font-weight: 100;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
}

button[type="submit"] {
  max-width:300px;
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 9px;
  font-size: 20px;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom:35px;
  width: 350px;
}

a {
  color: #4285f4;
  text-decoration: none;
}

.dashboard-container {
  display: none;
  padding: 40px;
  background-color: #f5f5f5;
}

.dashboard-container h1 {
  font-size: 20px;
  margin-bottom: 20px;
}
#forgot-password{
  text-decoration: underline;
  color: grey;
  /* margin-top: 120px; */
  
}

.login{
  margin-bottom: 12px;
}